http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0002-7059-6378/educations
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.1.0 crul/1.4.0 rOpenSci(rorcid/0.7.0)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-target: reg-prod-papi-use2-b1
      x-via: b1
    body:
      encoding: ''
      file: no
      string: '{"last-modified-date":{"value":1702300011937},"affiliation-group":[{"last-modified-date":{"value":1702299998784},"external-ids":{"external-id":[]},"summaries":[{"education-summary":{"created-date":{"value":1701675606167},"last-modified-date":{"value":1702299998784},"source":{"source-orcid":{"uri":"https://orcid.org/0000-0002-7059-6378","path":"0000-0002-7059-6378","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"Arkadiusz  Gladki"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"put-code":21893544,"department-name":null,"role-title":"Doctor
        of Philosophy (Ph.D.), biology/bioinformatics","start-date":{"year":{"value":"2007"},"month":{"value":"10"},"day":null},"end-date":{"year":{"value":"2012"},"month":{"value":"09"},"day":null},"organization":{"name":"Institute
        of Biochemistry and Biophysics, Polish Academy of Sciences","address":{"city":"Warsaw","region":null,"country":"PL"},"disambiguated-organization":{"disambiguated-organization-identifier":"https://ror.org/034tvp782","disambiguation-source":"ROR"}},"url":null,"external-ids":null,"display-index":"1","visibility":"public","path":"/0000-0002-7059-6378/education/21893544"}}]},{"last-modified-date":{"value":1702300011937},"external-ids":{"external-id":[]},"summaries":[{"education-summary":{"created-date":{"value":1701675509390},"last-modified-date":{"value":1702300011937},"source":{"source-orcid":{"uri":"https://orcid.org/0000-0002-7059-6378","path":"0000-0002-7059-6378","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"Arkadiusz  Gladki"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"put-code":21893532,"department-name":null,"role-title":"Master''s
        Degree, Biotechnology","start-date":{"year":{"value":"2001"},"month":{"value":"10"},"day":null},"end-date":{"year":{"value":"2006"},"month":{"value":"06"},"day":null},"organization":{"name":"Warsaw
        University of Life Sciences","address":{"city":"Warsaw","region":null,"country":"PL"},"disambiguated-organization":{"disambiguated-organization-identifier":"https://ror.org/05srvzs48","disambiguation-source":"ROR"}},"url":null,"external-ids":null,"display-index":"1","visibility":"public","path":"/0000-0002-7059-6378/education/21893532"}}]}],"path":"/0000-0002-7059-6378/educations"}'
  recorded_at: 2024-03-26 12:38:32 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0002-7059-6378/employments
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.1.0 crul/1.4.0 rOpenSci(rorcid/0.7.0)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-target: reg-prod-papi-use2-b1
      x-via: b1
    body:
      encoding: ''
      file: no
      string: '{"last-modified-date":{"value":1701675375930},"affiliation-group":[{"last-modified-date":{"value":1701675017296},"external-ids":{"external-id":[]},"summaries":[{"employment-summary":{"created-date":{"value":1701675017296},"last-modified-date":{"value":1701675017296},"source":{"source-orcid":{"uri":"https://orcid.org/0000-0002-7059-6378","path":"0000-0002-7059-6378","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"Arkadiusz  Gladki"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"put-code":21893486,"department-name":null,"role-title":"
        Bioinformatics Engineer && R/Shiny Developer","start-date":{"year"[...]
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0002-7059-6378/person
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.1.0 crul/1.4.0 rOpenSci(rorcid/0.7.0)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/vnd.orcid+json;charset=UTF-8
      x-target: reg-prod-papi-use2-b1
      x-via: b1
    body:
      encoding: ''
      file: no
      string: |-
        {
          "last-modified-date" : {
            "value" : 1709999191902
          },
          "name" : {
            "created-date" : {
              "value" : 1460761044825
            },
            "last-modified-date" : {
              "value" : 1460761044825
            },
            "given-names" : {
              "value" : "Arkadiusz "
            },
            "family-name" : {
              "value" : "Gladki"
            },
            "credit-name" : null,
            "source" : null,
            "visibility" : "public",
            "path" : "0000-0002-7059-6378"
          },
          "other-names" : {
            "last-modified-date" : null,
            "other-name" : [ ],
            "path" : "/0000-0002-7059-6378/other-names"
          },
          "biography" : {
            "created-date" : {
              "value" : 1709989089381
            },
            "last-modified-date" : {
              "value" : 1709989089381
            },
            "content" : "A passionate R developer and experienced bioinformatician with a demonstrated history of working in the biotechnology industry. Currently leading the development of an R/Shiny application that provides interactive visualizations of dose‐response data.",
            "visibility" : "public",
            "path" : "/0000-0002-7059-6378/biography"
          },
          "researcher-urls" : {
            "last-modified-date" : {
              "value" : 1709999191902
            },
            "researcher-url" : [ {
              "created-date" : {
                "value" : 1701674837712
              },
              "last-modified-date" : {
                "value" : 1709999191902
              },
              "source" : {
                "source-orcid" : {
                  "uri" : "https://orcid.org/0000-0002-7059-6378",
                  "path" : "0000-0002-7059-6378",
                  "host" : "orcid.org"
                },
                "source-client-id" : null,
                "source-name" : {
                  "value" : "Arkadiusz  Gladki"
                },
                "assertion-origin-orcid" : null,
                "assertion-origin-client-id" : null,
                "assertion-origin-name" : null
              },
              "url-name" : "github",
              "url" : {
                "value" : "https://github.com/gladkia"
              },
              "visibility" : "public",
              "path" : "/0000-0002-7059-6378/researcher-urls/4276430",
              "put-code" : 4276430,
              "display-index" : 5
            }, {
              "created-date" : {
                "value" : 1701674837710
              },
              "last-modified-date" : {
                "value" : 1709999191902
              },
          [...]
[...]
